.airportsList {
    background: #ddd;
    // height: 100vh;
    display: flex;
    width: 100vw;
    // justify-content: center;
    // align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.airport {
  background: #fff;
  padding: 20px;
  width: calc(33.3% - 30px);
  margin: 0 5px;
  display: flex;
  height: min-content;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

