.searchBox{
  .form-field{
    display: flex;
    width: 50%;
    border: 1px solid red;
    padding: 10px 15px;
    border-radius: 12px;
    justify-content: space-between;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: 0px auto;
    @media(max-width:768px){
      width: 100%;
    }
    .form-group{
      width: 43%;
      border-right: 1px solid #ccc;
      padding-right: 15px;
      label{
        display:block;
      }
      select{
        width: 100%;
        border:0;
        background-color:#fff;
      }
      select:focus{
        outline: 0;
      }
    }
    .btn-success{
      background-color: #dc3545;
    border: 0px solid #dc3545;
    border-radius: 10px;
    padding: 4px 14px;
    color: #fff;
    }
  }   
} 